
<!-- GALERIA -->
<section id="galeria" class="py-28 px-6 bg-zinc-950">
  <div class="max-w-7xl mx-auto">

    <div class="text-center mb-20">
      <h2 class="text-4xl md:text-6xl font-black">Galeria de Eventos</h2>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">

    @for (item of itens; track $index) {
      <app-card [slug]="item.slug" 
      [titulo]="item.titulo" 
      [descricao]="item.descricao"
      [imagem]="item.imagem[0]"></app-card>
    }
    </div>

  </div>
</section>