<!-- CONTATO -->
<section id="contato" class="py-28 px-6 bg-black text-center">
  <div class="max-w-4xl mx-auto">

    <h2 class="text-4xl md:text-6xl font-black mb-8 text-yellow-400">
      Vamos realizar seu evento?
    </h2>

    <p class="text-lg md:text-xl text-yellow-200 opacity-90 mb-10">
      Solicite um orçamento personalizado para sua cidade ou evento.
    </p>

    <a href="https://wa.me/5532999910835" target="_blank" class="bg-yellow-400 hover:bg-yellow-300 text-black transition px-10 py-5 rounded-2xl text-lg font-bold inline-block">
      Chamar no WhatsApp
    </a>

  </div>
</section>