<header class="fixed top-0 left-0 w-full z-50 bg-yellow-400/60 backdrop-blur-md border-b border-black/20">
  <div class="max-w-7xl mx-auto px-6 py-1 flex items-center justify-between">

    <!-- LOGO -->
     <a href="/"><img src="/LOGO 2.png" alt="Zé Mauro Promoções" class="h-15 md:h-20 object-contain"></a>

    <!-- MENU -->
    <nav class="hidden md:flex gap-8 uppercase text-sm tracking-[0.2em] text-black font-bold">
      <a href="#catalogo" class="hover:opacity-60 transition">Catálogo</a>
      <a href="#galeria" class="hover:opacity-60 transition">Galeria</a>
      <a href="#videos" class="hover:opacity-60 transition">Vídeos</a>
      <a href="#contato" class="hover:opacity-60 transition">Contato</a>
    </nav>

  </div>
</header>