<header class="fixed top-0 left-0 w-full z-50 bg-black/70 backdrop-blur-md border-b border-white/10 ">
  <div class="max-w-7xl mx-auto px-6 py-4 flex items-center justify-between">

    <!-- LOGO -->
     <a href="/"><img src="/logo.png" alt="HB Produções" class="h-14 md:h-13 object-contain"></a>
    

    <!-- MENU -->
    <nav class="hidden md:flex gap-8 uppercase text-sm tracking-[0.2em] text-zinc-300">
      <a href="#catalogo" class="hover:text-red-500 transition">Catálogo</a>
      <a href="#galeria" class="hover:text-red-500 transition">Galeria</a>
      <a href="#videos" class="hover:text-red-500 transition">Vídeos</a>
      <a href="#contato" class="hover:text-red-500 transition">Contato</a>
    </nav>

  </div>
</header>