<!-- CATÁLOGO -->
<section id="catalogo" class="py-28 px-6">

  <div class="max-w-7xl mx-auto">

    <div class="text-center mb-20">
      <p class="uppercase tracking-[0.4em] text-black mb-4 text-sm font-bold">Estruturas</p>
      <h2 class="text-4xl md:text-6xl font-black">Catálogo completo</h2>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-8">

      @for (item of items; track $index) {
      <app-card [slug]="item.slug" 
      [titulo]="item.titulo" 
      [descricao]="item.descricao"
      [imagem]="item.imagem[0]"></app-card>
      }
    </div>
  </div>

</section>