<!-- HERO -->
<section
  class="bg-cover bg-center relative h-screen overflow-hidden flex items-center justify-center text-center"
  style="background-image: url('/tendas-exposicao.jpg')">

  <!-- OVERLAY -->
  <div class="absolute inset-0 bg-black/65"></div>

  <!-- TEXTO -->
  <div class="relative z-10 px-6 max-w-6xl">
    <p class="uppercase tracking-[0.5em] text-yellow-400 text-sm mb-6 font-bold">
      ZÉ MAURO PROMOÇÕES
    </p>

    <h1 class="text-5xl md:text-7xl font-black leading-tight mb-8 text-white">
      Estruturas profissionais para grandes eventos
    </h1>

    <p class="text-yellow-100 text-lg md:text-xl max-w-3xl mx-auto mb-10">
      Palcos, grids, LED, sonorização, iluminação e estruturas completas para shows, festivais, rodeios e eventos
      municipais.
    </p>

    <div class="flex flex-col md:flex-row gap-4 justify-center">
      <a href="#catalogo" class="bg-yellow-400 hover:bg-yellow-300 text-black transition px-10 py-5 rounded-2xl font-bold">
        Ver Estruturas
      </a>

      <a href="https://wa.me/5532999910835" target="_blank"
        class="bg-transparent border-2 border-yellow-400 hover:bg-yellow-400 text-yellow-400 hover:text-black transition px-10 py-5 rounded-2xl font-bold">
        Solicitar orçamento
      </a>
    </div>
  </div>

</section>