
<!-- VIDEOS -->
<section id="videos" class="py-28 px-6">
  <div class="max-w-7xl mx-auto">

    <div class="text-center mb-20">
      <h2 class="text-4xl md:text-6xl font-black">Conheça a HB Produções</h2>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <video controls class="rounded-3xl w-full">
         <source src="/video1.mp4" type="video/mp4">
      </video>

      <video controls class="rounded-3xl w-full">
        <source src="/video2.mp4" type="video/mp4">
      </video>
    </div>

  </div>
</section>